.kanban-wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
  /* align-items: center; */
}

.kanban {
  padding: 20px;
  width: 30%;
  height: 100%;
  /* display: flex; */
  /* align-items: center; */
  background-color: #fff;
  border-radius: 20px;
}

.kanban ul {
}

.kanban li,
.kanban .add {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  /* height: 60px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4faff;
  border-radius: 10px;
}

.kanban .date {
  font-size: 14px;
}

.kanban li i {
  color: #4790fe;
}

.kanban .add {
  justify-content: center;
}
