.kanban-wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;

}

.kanban {
  padding: 10px;
  width: 30%;
  height: 100%;

  background-color: #fff;
  border-radius: 10px;
}

.kanban ul {
}

.kanban li,
.kanban .add {
  margin: 10px 0;
  padding: 10px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4faff;
  border-radius: 10px;
}

.kanban .date {
  font-size: 14px;
}

.kanban li i {
  color: #4790fe;
}

.kanban .add {
  justify-content: center;
}

@media screen and (max-width: 540px) {
  .kanban li {
    flex-direction: column;
  }
}
